@media (max-width: 860px) {
  .grand_wrapper {
    padding: 0px 10px;
    margin: 0 auto;
  }
  .burger_item {
    display: inline;
  }
  .header_wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .premier_wrap {
    flex-direction: column;
  }
  .premier_head {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
  }
  .premier_par {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.16px;
    margin-top: 24px;
  }
  .premier_button {
    width: 100%;
    margin-top: 28px;
  }
  .premier_button-right {
    width: 100%;
    margin: 12px;
    left: 1%;
  }
  .mentors {
    width: 100%;
  }
  .date {
    width: 30%;
    font-family: Inter;
    font-size: 10.545px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  .grammatics {
    width: 50%;
    height: auto;
    font-family: Inter;
    font-size: 10.545px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  .cris_info {
    max-width: 40%;
  }
  .jafar_info {
    width: 30%;
    left: 70%;
    top: 65%;
  }
  .expected_head {
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .expected_info {
    padding: 32px 16px;
    gap: 0;
  }
  .list_and_head {
    flex-direction: column;
  }
  .expected_day {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }
  .expected_info-head {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-top: 24px;
  }
  .expected_info {
    margin-top: 16px;
    margin-bottom: 40px;
  }
  .expected_info-list_item {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.16px;
  }
  .speacers_head {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 31px;
  }
  .speacers_info_wrap {
    grid-template-columns: 1fr;
    row-gap: 17px;
  }
  .speacer_info-head {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-top: 16px;
  }
  .speacer_info-lest {
    margin-top: 8px;
  }
  .speacer_info-item {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
  .speacers_info_wrap-left {
    padding: 16px;
  }
  .speacers_info_wrap-right {
    padding: 16px;
  }
  .FAQ {
    padding: 0px 10px;
  }
  .FAQ_head {
    margin-top: 80px;
    margin-bottom: 40px;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 31px;
  }
  .accordion {
    padding: 32px 16px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .FAQ_wrapper {
    margin-bottom: 80px;
  }
  .panel {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.16px;
  }
  .footer_wrap {
    padding: 0px 10px;
    margin: 0 auto;
  }
  .footer_icon {
    margin-top: 60px;
    padding-bottom: 32px;
  }
  .footer_bottom_div {
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 0px;
  }
  .foolter_list {
    flex-direction: column;
    align-self: flex-start;
    gap: 12px;
  }
  .footer_list-item {
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    text-transform: uppercase;
  }
  .footer-par {
    margin-top: 12px;
    margin-bottom: 24px;
  }
  .slide_inside_wrapper {
    padding: 24px 16px;
    width: 100%;
  }
}
