@media (min-width: 320px) and (max-width: 1440px) {
  * {
    margin: 0 auto;
    width: 100%;
  }
  body {
    width: 100%;
  }
  header {
    margin: 0px;
    width: 100%;
  }
  .head_wrapper {
    margin: 0px;
    padding: 0px;
    width: 100%;
    margin-top: 40.5px;
  }
  .first_page {
    margin: 0px;
    width: 100%;
  }
  .page_wrapper {
    margin: 0;
    padding: 10px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: baseline; */
  }
  .first_page-head {
    font-size: 32px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
  }
  .first_page-button {
    width: 80%;
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .first_page-par {
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.16px;
    width: 85%;
  }
  .intensive {
    width: 100%;
    margin: 0px;
  }
  .intensive_wrapper {
    width: 90%;
    padding: 0px;
    margin: 0px;
  }
  .header_intensive {
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 31px;
    margin-top: 40px;
  }
  .intensive_wrapper-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .head_content {
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .inside_wrapper-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .inside_wrapper-content_list {
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.16px;
  }
  .day_place {
    align-self: flex-start;
    margin: 0px;
  }
  .speakers {
    margin: 0px;
    width: 100%;
    margin-top: 80px;
  }
  .speacers_header-wrap {
    width: 100%;
    margin: 0px;
  }
  .speakers_header {
    margin: 0;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: 10px;
    font-size: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 31px;
    width: 100%;
  }
  .speakers_wrapper {
    display: flex;
    flex-direction: column;
  }
  .speakers_item {
    margin: 0px;
    width: 90%;
    margin: 0 auto;
  }
  .speakers_img {
    align-self: flex-start;
    margin: 0px;
  }
  .speakers_head {
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-top: 16px;
  }
  .speakers_list {
    font-size: 16px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 8px;
  }
  .reviews {
    width: 100%;
    margin: 0px;
  }
  .reviews_wrapper {
    margin: 0px;
  }
  .arrows {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .arrov_slide {
    width: 32px;
    margin: 0px;
  }
  .FAQ {
    width: 100%;
    margin: 0px;
    margin: 0 auto;
  }
  .accordion {
    margin: 0px;
    width: 90%;
    padding: 0px;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .accordeon_wrap {
    width: 100%;
    margin: 0px;
    margin-top: 80px;
  }
  .FAQ_head {
    margin: 0px;
    margin-top: 80px;
  }
  .panel {
    margin: 0px;
  }
  .panel_item {
    margin: 0px;
    width: 97%;
  }
}
