* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  display: flex;
  font-family: "Inter", sans-serif;
  flex-direction: column;
}

.big_wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

span {
  color: #8e82fe;
  display: block;
}

.span_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.burger {
  background-color: black;
  width: 30px;
  height: 4px;
  margin-right: 20px;
  display: none;
}

.intensive {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.head_content {
  font-size: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  align-self: flex-start;
}
.head_wrapper {
  margin: 32px 0px 0px 60px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: space-between;
}

.page_wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  padding: 0 160px;
  gap: 51px;
  border-radius: 0px;
}

.page_wrapper-div,
.page_wraper-div2 {
  flex-direction: column;
  position: relative;
  border-radius: 35px;
  width: 70%;
  height: 29.2%;
  object-fit: contain;
  object-position: top;
}
.page_wrapper-div {
  display: flex;
  flex-direction: column;
  align-items: left;
  flex-wrap: nowrap;
  border-radius: 0px;
}
.inside_wrapper-content_list {
  padding-left: 20px;
}
.head_icon {
  margin-left: 100px;
  margin-bottom: 50px;
}

.mentors-group {
  z-index: 1;
  width: 100%;
  flex-shrink: 1;
  flex-grow: 7;
  flex-basis: 200%;
}
.line_div-one,
.line_div-two {
  position: absolute;
  background-color: #b7fd8b;
  padding: 8px 16px;
  border-radius: 25px;
  border: #b7fd8b;
  margin: 24px 8px 0px 0px;
}

.line_div-one {
  z-index: 2;
  left: 24px;
  width: 23%;
}

.line_div-two {
  background-color: rgba(28, 28, 28, 0);
  border: 2px solid #b7fd8b;
  color: #b7fd8b;
  z-index: 2;
  left: 31%;
  width: 35%;
}

.first_page-head {
  color: #171717;
  font-size: 53px;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 63px;
  margin: 0px;
  flex-shrink: 1;
  flex-grow: 7;
  flex-basis: 200%;
}

.first_page-par {
  color: #171717;
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.18px;
  margin: 0px;
  margin-top: 32px;
}

.first_page-button {
  background-color: #171717;
  border-radius: 25px;
  padding: 16px 91px;
  color: aliceblue;
  font-family: Inter;
  border: none;
  align-self: flex-start;
  cursor: pointer;
  margin: 0;
  margin-top: 42px;
  width: 70%;
}

.first_page-button:hover {
  background-color: #2c2c2c;
  color: white;
  cursor: pointer;
}

.first_page-button:active {
  background-color: #343434;
}
/* intensive*/
.intensive_wrapper {
  display: flex;
  margin: 100px 160px;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 60px;
}

.intensive_wrapper-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 20px;
  background-color: #f5f5f4;
  padding: 40px;
}

.day_place {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87px;
  height: 40px;
  background-color: #8e82fe;
  border-radius: 25px;
}

.inside_wrapper-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.inside_wrapper-content_item {
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.inside_wrapper-content_item::marker {
  font-size: 1.2em;
}
.header_intensive {
  font-size: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
}

/*спикеры*/
.speakers {
  background: #c6c0ff;
  width: 100%;
}

.speakers_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}

.speakers_item {
  width: 37%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: white;
  border-radius: 30px;
  padding: 32px;
  align-self: stretch;
}

.speakers_head {
  font-size: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-top: 32px;
  align-self: flex-start;
}

.speakers_img {
  align-self: flex-start;
  width: 222px;
  height: 220px;
}

.speakers_list {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding-left: 25px;
}
.speacers_list-item {
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.speakers_header {
  font-size: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  margin-left: 180px;
  margin-top: 100px;
}

.speacers_header-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
}

/*отзывы*/
.reviews {
  background: #c6c0ff;
  width: 100%;
  min-height: 381px;
}

.reviews_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 60px;
  margin-left: 160px;
}

.reviews_head-buttons {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reviews_head {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
}

.reviews_wrapper-inside {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: flex-start;
  gap: 20px;
  padding-left: 20px;
  min-height: 300px;
  width: 100%;
}

.reviews_people {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 22px;
  background-color: #fff;
  border-radius: 15px;
  max-width: 486px;
  max-height: 215px;
  font-family: "Inter", sans-serif;
  gap: 26px;
}

.reviews_people-wrap_foto-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}

.reviews_people-foto {
  width: 56px;
  height: 56px;
}
.reviews_noSee {
  display: none;
}
.wrap_foto-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  align-items: baseline;
}

.reviews_people-par {
  font-size: 17px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.18px;
  margin: 0;
  padding: 0;
  height: 100%;
}

.student {
  color: #171717;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.teacher {
  color: #979797;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

/*faq*/
.FAQ {
  width: 100%;
  margin-left: 160px;
}

.FAQ_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 1440px;
}

.FAQ_wraper-content {
  max-width: 1120px;
  margin: 20px auto;
}

.FAQ_head {
  align-self: flex-start;
  margin: 100px 0px 60px 60px;
}

/*footer*/
.footer_wrap_decktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  padding: 20px;
  background-color: black;
}

.footer_bottom-wrapper {
  height: 40%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 20px;
  position: relative;
  width: 100%;
}

.footer_bottom-par {
  font-size: 11px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  text-transform: uppercase;
  color: white;
}

.footer_bottom-wrapper::before {
  content: " ";
  background: rgba(255, 255, 255, 0.2);
  width: 1440px;
  height: 2px;
  bottom: 25px;
  position: absolute;
}

.footer_bottom-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer_img-wrap {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
}

.footer_img {
  margin-left: 20px;
  width: 200px;
}

.footer_bottom-list_link {
  text-decoration: none;
  color: #fff;
  margin-right: 2px;
  font-size: 11px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
}

.footer_bottom-list_link:hover {
  color: #fff;
}

.reviews_head {
  margin-left: 24px;
}

/*акордеон*/
.accordion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 133px;
  background-color: #ffffff;
  color: #030303;
  cursor: pointer;
  margin: 0 0 0 20px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 24px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  border-radius: 25px;
  max-width: 81%;
  padding: 32px 42px 32px 56px;
}

.accordeon_wrap-item {
  margin: 8px;
}
.panel {
  padding: 0 18px;
  background-color: #fff;
  display: none;
  overflow: hidden;

  margin-top: 20px;
  margin: 20px 0 0 20px;
  width: 70%;
}
.panel_item {
  width: 70%;
  margin-left: 38px;
}

.accordion:after {
  content: url(./images/image/material-symbols_arrow-forward.svg);
  font-size: 13px;
  color: #777;
  margin-right: 20px;
}

.active:after {
  content: url(./images/image/arrow-downward.svg);
}

.accordeon_wrap {
  margin-bottom: 100px;
  max-width: 1120px;
}
.footer_bottom-list_link {
}
